<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="person" class="com.zjl.bean.Person">
		<property name="name" value="Mkyong" />
		<property name="age" value="18" />
	</bean>
	
</beans>