<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.codehaus.groovy.eclipse.groovyScriptLaunchConfiguration">
<stringAttribute key="org.codehaus.groovy.eclipse.launch.runType" value="com.zjl.study.helloworld.HelloWorld"/>
<listAttribute key="org.eclipse.jdt.launching.CLASSPATH">
<listEntry value="D:\workspace-study\groovyStudy\bin"/>
<listEntry value="D:\server\eclipse-study\plugins\org.codehaus.groovy_2.3.7.xx-201411061335-e44-RELEASE\lib\groovy-all-2.3.7.jar"/>
<listEntry value="D:\server\eclipse-study\plugins\org.codehaus.groovy_2.3.7.xx-201411061335-e44-RELEASE\lib\bsf-2.4.0.jar"/>
<listEntry value="D:\server\eclipse-study\plugins\org.codehaus.groovy_2.3.7.xx-201411061335-e44-RELEASE\lib\ivy-2.3.0-sources.jar"/>
<listEntry value="D:\server\eclipse-study\plugins\org.codehaus.groovy_2.3.7.xx-201411061335-e44-RELEASE\lib\ivy-2.3.0.jar"/>
<listEntry value="D:\server\eclipse-study\plugins\org.codehaus.groovy_2.3.7.xx-201411061335-e44-RELEASE\lib\servlet-api-2.4.jar"/>
<listEntry value="C:\Users\Administrator\.groovy\greclipse\global_dsld_support"/>
<listEntry value="D:\server\eclipse-study\plugins\org.codehaus.groovy_2.3.7.xx-201411061335-e44-RELEASE\plugin_dsld_support\"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.codehaus.groovy.tools.GroovyStarter"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--classpath &quot;${workspace_loc:\groovyStudy}\src;${workspace_loc:\groovyStudy}\bin&quot; --main groovy.ui.GroovyMain &quot;${resource_loc:/groovyStudy/src/com/zjl/study/helloworld/HelloWorld.groovy}&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="groovyStudy"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value=" -Dgroovy.home=&quot;${groovy_home}&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:\groovyStudy}"/>
</launchConfiguration>
